* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  display: grid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;

}

label {
  margin-bottom: 5px;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

h2 {
  margin-bottom: 20px;
}

.form input, textarea, select {
  margin-bottom: 10px;
  padding: 5px;
}

textarea {
  min-height: 80px;
}

.form_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.form_btn_submit, .form_btn_reset {
  width: 150px;
  padding: 5px 10px;

}